  <div class="course-details-container" *ngFor="let course of items">
    <h1 class="course-title">{{ course.name }}</h1>
    <div class="course-info-container">
      <div class="course-description-container">
        <h2 class="instructor-name">Instructor: {{ course.instructor }}</h2>
        <p class="course-description">{{ course.description }}</p>
        <div class="course-meta-container">
          <div class="course-meta-item">
            <h3>Start Date</h3>
            <p>{{ course.start_date | date: 'MMM d, y' }}</p>
          </div>
          <div class="course-meta-item">
            <h3>End Date</h3>
            <p>{{ course.end_date | date: 'MMM d, y' }}</p>
          </div>
          <div class="course-meta-item">
            <h3>Credits</h3>
            <p>{{ course.credits }}</p>
          </div>
          <div class="course-meta-item">
            <h3>Prerequisites</h3>
            <p>{{ course.prerequisites.join(', ') }}</p>
          </div>
          <div class="course-meta-item">
            <h3>Fee</h3>
            <p>{{ course.fee | currency:'USD':'symbol' }}</p>
          </div>
          <div class="course-meta-item">
            <h3>Term</h3>
            <p>{{ course.term | titlecase }}</p>
          </div>
          <div class="course-meta-item">
            <h3>Available Seats</h3>
            <p>{{ course.seats_available }} / {{ course.seats }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="course-actions-container">
      <button mat-button (click)="addToCartClick(course['_id'])" [disabled]="!course.available">Add to Cart</button>
    </div>
  </div>






