mat-card {
  padding: 10px;
  margin: 10px;
  width: 45%;
}

.mat-card-header{
  display: block;
}

.filtered-courses-container {
  margin:10px;
  display: flex;
  flex-wrap: wrap;
}
mat-card-actions a {
  text-decoration: none;
  color: unset;
}
