<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header">
          <h4>Sign Up</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label>Full Name</label>
              <input type="text" name="fullname" class="form-control" [(ngModel)]="fullname">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" class="form-control" [(ngModel)]="email">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="password">
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="confirmPassword">
            </div>
            <button class="btn btn-primary btn-block" (click)="signup()">Sign Up</button>
          </form>
          <div class="mt-3 text-center">
            <p>Already have an account? <a href="/login">Log in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header">
          <h4>Sign Up</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="form-group">
              <p>{{errorMessage}}</p>
            </div>
            <div class="form-group">
              <label>Full Name</label>
              <input type="text" name="fullname" class="form-control" formControlName="fullname">
              <div *ngIf="signupForm.controls['fullname'].errors?.['required'] && signupForm.controls['fullname'].touched">Full Name is required</div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" class="form-control" formControlName="email">
              <div *ngIf="signupForm.controls['email'].errors?.['required'] && signupForm.controls['email'].touched">Email is required</div>
              <div *ngIf="signupForm.controls['email'].errors?.['email'] && signupForm.controls['email'].touched">Invalid email format</div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" class="form-control" formControlName="password">
              <div *ngIf="signupForm.controls['password'].errors?.['required'] && signupForm.controls['password'].touched">Password is required</div>
              <div *ngIf="signupForm.controls['password'].errors?.['minlength'] && signupForm.controls['password'].touched">Password must be at least 8 characters long</div>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword">
              <div *ngIf="signupForm.controls['confirmPassword'].errors?.['required'] && signupForm.controls['confirmPassword'].touched">Confirm Password is required</div>
              <div *ngIf="signupForm.controls['confirmPassword'].value !== signupForm.controls['password'].value && signupForm.controls['confirmPassword'].touched">Passwords do not match</div>
            </div>
            <button class="btn btn-primary btn-block auth-button" [disabled]="signupForm.invalid">Sign Up</button>
          </form>
          <div class="mt-3 text-center">
            <p>Already have an account? <a class="auth-button" href="/login">Log in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
